h1 {
  font-size: 60px;
}

p {
  padding-left: 100px;
  padding-right: 100px
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



.body {
  background-color: #FFFAE5;
  padding: 30px;
}


.header {
  background-color: #80754D;
  padding-top: 1px;
  padding-bottom: 1px
}

.To_Middle {
  text-align: center;
}


.To_Middle_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background: #FFEB99;
  background-image: -webkit-linear-gradient(top, #FFEB99, #80754D);
  background-image: -moz-linear-gradient(top, #FFEB99, #80754D);
  background-image: -ms-linear-gradient(top, #FFEB99, #80754D);
  background-image: -o-linear-gradient(top, #FFEB99, #80754D);
  background-image: linear-gradient(to bottom, #FFEB99, #80754D);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #80754D;
  background-image: -webkit-linear-gradient(top, #80754D, #FFEB99);
  background-image: -moz-linear-gradient(top, #80754D, #FFEB99);
  background-image: -ms-linear-gradient(top, #80754D, #FFEB99);
  background-image: -o-linear-gradient(top, #80754D, #FFEB99);
  background-image: linear-gradient(to bottom, #80754D, #FFEB99);
  text-decoration: none;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
